<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:warning] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:warning] %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>
<% unless @palette.nil? %>
  <div class="row">
    <div class="col-sm-12">
      <img class="rounded mb-3" src="<%= blanket_path(slug: @blanket.slug, palette: @palette.id, format: :svg) %>" height="50px" width="100%" />
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Instructions</h4>
        <h6 class="card-subtitle mb-2 text-muted">Blanket: <%= @blanket.name %></h6>
        <p class="card-text">Your temperature blanket pattern covers days from <strong><%= @blanket.start_date.strftime('%B %e, %Y') %></strong> to <strong><%= @blanket.end_date.strftime('%B %e, %Y') %></strong>. Each row represents the high or low temperature for the day. When your blanket is complete, you will have a year of temperatures that are unique to your date range and location.</p>
        <% unless @palette.nil? %>
          <p class="card-text">
            The palette (<%= @palette.name %>) is an example. We recommend using a US H/8 crochet hook like the <a href="https://www.amazon.com/Clover-1047-Amour-Crochet-5-0mm/dp/B008J140RQ/ref=as_li_ss_tl?ie=UTF8&qid=1487642591&sr=8-2&keywords=clover+crochet+hook&linkCode=ll1&tag=yarndude-20&linkId=26ebab9c83f50eed82dace60ec55c465">Clover Amour Crochet Hook</a> if you follow the example palette. Depending on the yarn you have available, you might end up using different colors. You should make sure that all of the colors look good next to each other before selecting your colors. Most palettes will have 8 to 10 different colors to represent the temperature.
          </p>
        <% end %>
        <p class="card-text">
          You might consider using a <a target="_blank" href="https://www.amazon.com/gp/product/B003E06AQQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003E06AQQ&linkCode=as2&tag=yarndude-20&linkId=b4a823535a349ad257e118281cd457a4">yarn drum</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=yarndude-20&l=am2&o=1&a=B003E06AQQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> (like the one shown below) to hold your yarn. Most hold about eight skeins, so you can rotate out the hottest and coldest colors to make room if needed.
        </p>
        <p class="card-text text-center">
          <a target="_blank" href="https://www.amazon.com/gp/product/B003E06AQQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003E06AQQ&linkCode=as2&tag=yarndude-20&linkId=f42c025b3ce97b676df70d3bda8efa0b"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B003E06AQQ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=yarndude-20" ></a>
        </p>
        <% if not free_mode? %>
          <% unless @blanket.paid? || @blanket.example %>
            <p class="card-text">The pattern shown is a preview. Please use the checkout button below to get the the full temperature blanket pattern. Your purchase is less than a penny per day and helps cover our server and data costs.</p>
            <%= button_tag 'Purchase Pattern for ' + number_to_currency(@price_in_cents / 100), id: 'checkout_btn', class: 'btn btn-primary' %>
              <%= form_tag blanket_pay_path(@blanket.slug), id: 'stripeForm' do %>
                <%= hidden_field_tag 'stripeToken', '' %>
              <% end %>
          <% end %>
          <% if @blanket.paid? && @blanket.ends_in_future? && !@blanket.email_confirmed %>
            <p class="card-text">This pattern is still in progress. To get daily email updates, please click the link at the bottom of one the previous emails to confirm your email address.</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% unless @palette.nil? %>
    <div class="col-lg-6 col-sm-12">
      <div class="card mb-3">
        <div class="card-block">
          <h4 class="card-title">Yarn Palette</h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= @palette.name %></h6>
          <% @palette.temperature_ranges.order(high_temperature: :desc).each do |t| %>
            <div class="rounded text-center palette-yarn-block mb-2" style="background-color: #<%= t.yarn.color %>;">
              <% if t.yarn.amazon_affiliate_url %>
                <%= link_to t.yarn.name, t.yarn.amazon_affiliate_url, style: "color: #{t.yarn.color.to_i(16) > 0xffffff/2 ? '#000000' : '#ffffff'}" %>
              <% else %>
                <span style="color: <%= t.yarn.color.to_i(16) > 0xffffff/2 ? '#000000' : '#ffffff' %>"><%= t.yarn.name %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-sm-12">
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Temperatures</h4>
        <h6 class="card-subtitle mb-2 text-muted">Daily High and Low Temperatures</h6>
      </div>
      <ul class="list-group list-group-flush">
        <% if @units == :farhenheit %>
          <li class="list-group-item"><%= link_to 'Show as Celsius', blanket_path(slug: @blanket.slug, units: 'celsius'), class: 'card-link' %></li>
        <% else %>
          <li class="list-group-item"><%= link_to 'Show as Farhenheit', blanket_path(slug: @blanket.slug, units: 'farhenheit'), class: 'card-link' %></li>
        <% end %>
      </ul>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Low (&deg;<%= @units_display %>)</th>
                <th>High (&deg;<%= @units_display %>)</th>
              </tr>
            </thead>
            <tbody>
              <% @blanket.days.order(date: :asc).each do |day| %>
                <tr>
                  <td><%= day.date %></td>
                  <td>
                    <%= @palette.find_yarn_by_temperature(day.low_temperature).try(:short_name) unless @palette.nil? %>
                    (<%= day.low_temperature_in(@units) %>&deg;)
                  </td>
                  <td>
                    <%= @palette.find_yarn_by_temperature(day.high_temperature).try(:short_name) unless @palette.nil? %>
                    (<%= day.high_temperature_in(@units) %>&deg;)
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'Powered by Dark Sky', '//darksky.net/poweredby/', class: 'card-link' %>
      </div>
    </div>
  </div>
</div>

<% unless free_mode? || @blanket.paid? || @blanket.example %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.application.secrets.stripe_public_key %>',
    allowRememberMe: false,
    bitcoin: true,
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      document.getElementById('stripeToken').value = token.id;
      document.getElementById('stripeForm').submit();
    }
  });

  document.getElementById('checkout_btn').addEventListener('click', function(e) {
    handler.open({
      name: '<%= Rails.application.config.site_name %>',
      description: '<%= @blanket.safe_name %>',
      <% if session[:email] %>
        email: '<%= session[:email] %>',
      <% end %>
      amount: <%= @price_in_cents %>,
    });
    e.preventDefault();
  });

  window.addEventListener('popstate', function() {
    handler.close();
  });
  </script>
<% end %>
