<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h5 class="card-subtitle text-muted mb-2">Temperature Blanket Pattern <span class="ml-1 text-primary"><strong>$5.00</strong></span></h6>
        <p class="card-text">Get a customized temperature blanket pattern based on your location. <%= Rails.application.config.site_name.capitalize %> will automatically gather past temperature data for your location so you don't have to look up every single day.</p>
        <%= link_to 'Create Your Pattern', new_blanket_path, class: 'btn btn-primary' %>
        <%= link_to 'View Examples', new_blanket_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h5 class="card-subtitle mb-2 text-muted">Sign in to retrieve your blanket patterns</h6>
        <%= form_tag find_blankets_path do %>
          <div class="form-group">
            <%= label_tag :email, 'Email' %>
            <%= email_field_tag :email, '', {'class' => 'form-control', 'placeholder' => 'Your Email'} %>
          </div>
         <div class="form-group">
           <%= button_tag 'Sign In', class: 'btn btn-primary' %>
         </div>
        <% end %>
      </div>
    </div>
  </div>
</div>