<%= form_tag admin_login_path, class: 'form-signin' do %>
  <h2 class='form-signin-heading'>Login</h1>
  <div class="form-group">
    <%= label_tag :email, 'Email' %>
    <%= email_field_tag :email, @manager.email, {'class' => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label_tag :password, 'Password' %>
    <%= password_field_tag :password, '', {'class' => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Login', {'class' => 'btn btn-primary'} %>
  </div>
<% end %>
