<div class="row">
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <%= render partial: 'sidebar', locals: {active: :blankets} %>
  </nav>
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Blanket</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">Details</h4>
            <dl>
              <dt>Name</dt>
              <dd><%= @blanket.name %></dd>
              <dt>Start Date</dt>
              <dd><%= @blanket.start_date %></dd>
              <dt>End Date</dt>
              <dd><%= @blanket.end_date %></dd>
            </dl>
            <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words @blanket.created_at %> ago</small></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to_unless @blanket.slug.blank?, 'Show blanket on public site', blanket_path({slug: @blanket.slug}), class: 'card-link' %></li>
            <li class="list-group-item"><%= link_to 'Edit blanket', edit_admin_blanket_path(@blanket), class: 'card-link' %></li>
            <li class="list-group-item"><%= link_to 'Delete blanket and associated data', admin_blanket_path(@blanket), method: :delete, class: 'card-link', data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">Charge</h4>
            <dl>
              <dt>ID</dt>
              <dd><%= @blanket.charge_id || 'No charge was created!' %></dd>
              <% if @charge.present? %>
                <dt>Status</dt>
                <dd><%= @charge.status.capitalize %></dd>
                <dt>Paid</dt>
                <dd><%= number_to_currency( @charge.amount / 100) %> <small class="text-muted"><%= time_ago_in_words Time.at(@charge.created) %> ago</small></dd>
                <% if @charge.refunded %>
                  <dt>Refunded</dt>
                  <dd><%= number_to_currency( @charge.refunds.data[0].amount / 100) %> <small class="text-muted"><%= time_ago_in_words Time.at(@charge.refunds.data[0].created) %> ago</small></dd>
                <% end %>
              <% end %>
            </dl>
          </div>
          <% if @charge.present? and not @charge.refunded %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= link_to 'Refund', admin_refund_blanket_path(@blanket), class: 'card-link', data: { confirm: 'Are you sure?' } %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>