<div class="row">
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <%= render partial: 'sidebar', locals: {active: :palettes} %>
  </nav>
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Palette</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">Details</h4>
            <dl>
              <dt>Name</dt>
              <dd><%= @palette.name %></dd>
            </dl>
            <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words @palette.created_at %> ago</small></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to 'Edit palette', edit_admin_blanket_path(@palette), class: 'card-link' %></li>
            <li class="list-group-item"><%= link_to 'Delete palette', admin_blanket_path(@palette), method: :delete, class: 'card-link', data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">Yarn</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="text-right">Low</th>
                  <th class="text-right">High</th>
                </tr>
              </thead>
              <tbody>
                <% @palette.temperature_ranges.order(high_temperature: :desc).each do |t| %>
                <tr>
                  <td><%= t.yarn.name %></td>
                  <td class="text-right"><%= t.low_temperature %></td>
                  <td class="text-right"><%= t.high_temperature %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>