<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.config.site_name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'admin',       media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Admin</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Blankets', admin_blankets_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Palettes', admin_palettes_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>

      <%= link_to 'Logout', admin_logout_path, class: 'btn btn-secondary', role: 'button' %>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
